Package: awslogs-agent
Version: 1.0-1
Section: base
Priority: optional
Architecture: all
Depends: var-aws (>= 1.0), wget (>= 1.12.0), sysv-rc (>= 2.86)
Maintainer: Alan Busby <abusby@gracenote.com>
Description: awslogs-agent
 Installs and configures AWS's awslogs-agent on each boot
